data/
figs/
fretboard_detection/dataset/
fretboard_detection/output/detector*
simple_image_download/my_dir/
simple_image_download/my_dir/extra/
simple_image_download/my_dir/guitar-images/
simple_image_download/my_dir/guitar-labels/
simple_image_download/simple_images/
.DS_Store
__pycache__/
*.wav
*.npz
*.jams
*.mid
*.model
*.txt
Tab-estimator-hand/tensorboard