data/
figs/
models/
fretboard_detection/dataset/
fretboard_detection/output/detector.pth
simple_image_download/my_dir/
simple_image_download/my_dir/extra/
simple_image_download/my_dir/guitar-images/
simple_image_download/my_dir/guitar-labels/
simple_image_download/simple_images/
.DS_Store
__pycache__/
